@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');


$bg-color: #3E5C76;
$compo: #0D1321;
$shadow-color: #1D2D44;
$main-color: #F0EBD8;

$box-shadow: 4px 4px 0px 0px $shadow-color;


@mixin color-box{
    color: $main-color;
    background-color: $compo;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
}

@mixin any-box{
    @include color-box;

    height: 60vh;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;

    text-align: justify;
    word-break: break-all;

    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: $bg-color;


    margin: 10px 60px 10px 60px;
    height: 100vh;

    font-family: 'Rubik', sans-serif;
}

a{
    color: $main-color;
    text-decoration: none;
}


.navbar{
    display: flex;
    justify-content: space-between;

    padding: 5px 10px 5px 10px;

    @include color-box;
}

.text__logo{
    line-height: 40px;
}

.menu{
    display: flex;
    ul{
        margin: 0px;
    }

    ul>li{
        display: inline-flex;

    }

    ul>li:nth-child(1){
        margin-right: 10px;
        padding: 10px;
        border-right: 1px solid $main-color;
    }
}

@media screen and (max-width: 768px) {
    body{
        margin: 10px 20px 10px 20px;
    }
}

// quote box css parts

.quote__compo{
    @include any-box;
}

.quote{
    margin-bottom: 10px;
}

.author{
    margin-left: 20px;
}

.quote__button{
    margin-top: 15px;

    button{
        @include color-box;

        border-radius: 0px;
        border: none;

        font-size: 16px;

        margin-right: 10px;
        padding: 10px;
    }
}

// about page css parts


.about__box{
    @include any-box;
}

